@{
    ViewBag.Title = "Contacto";
}

    <div class="row">
        <h2>@ViewBag.Title.</h2>

    </div>

        <div class="row">

            <address>
                UPC<br />
                Sistemas Distribuidos<br />
                <abbr>Grupo 4</abbr>
            </address>

       </div>
        <div class="row">

            <address>
                <strong>Desarrollado por :</strong><br />
            </address><br />
            -	Marco Felix Trusillos Leon<br />
            -   Diego Alberto Orbezo Huamancari<br />
            -	Camilo Medina Solorzano<br />
        </div>
