@{
    ViewBag.Title = "Home Page";
}

<div  style="width:100%;height:400px;align-content:center" >
<img src="~/imagenes/fondo.png" width="90%" height="80%"  alt="conocenos" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Recargas</h2>
        <p>
        Agiliza y automatiza el proceso de recarga de saldo, evitando las colas presenciales que se originan en cada estación.          
        </p>
        <p><a class="btn btn-default" href="http://www.metropolitano.com.pe/tarifas-y-puntos-de-recarga/recargas/">Leer mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Renovacion</h2>
        <p>Remplaza el proceso presencial de renovación masiva de tarjetas preferenciales universitarias en los establecimientos del Metropolitano.</p>
        <p><a class="btn btn-default" href="http://www.metropolitano.com.pe/tarifas-y-puntos-de-recarga/recargas/">Leer mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Transferencias</h2>
        <p>Permite a cualquier usuario de nuestra aplicación que cuente con una tarjeta con saldo pueda transferir su saldo o parte de ella a otro usuario.</p>
        <p><a class="btn btn-default" href="http://www.metropolitano.com.pe/tarifas-y-puntos-de-recarga/recargas/">Leer mas &raquo;</a></p>
    </div>
</div>